
############# Boundless configuration #############


RPC_URL="" # RPC For Base mainnet
SIGNER="" # Private key for account on Base with funds in Boundless market


############# Boundless storage configuration #############

PINATA_JWT="" # (easiest) JWT for Pinata account to upload proving inputs and ELF to be found by provers

# OR

# S3 or R2 configuration
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET=""
S3_URL=""
AWS_REGION=""
