# XRPL network
NEXT_PUBLIC_XRPL_WSS=wss://groth5.devnet.rippletest.net:51233
NEXT_PUBLIC_XRPL_RPC=https://groth5.devnet.rippletest.net:51234
NEXT_PUBLIC_XRPL_EXPLORER=http://custom.xrpl.org/groth5.devnet.rippletest.net
NEXT_PUBLIC_XRPL_NETWORK_ID=1256

# Demo defaults
NEXT_PUBLIC_DEFAULT_BUYER_ADDRESS=<BUYER_XRPL_ADDRESS>
NEXT_PUBLIC_DEFAULT_WRITER_ADDRESS=<WRITER_XRPL_ADDRESS>
NEXT_PUBLIC_DEFAULT_PREMIUM_DROPS=5000000
NEXT_PUBLIC_FINISH_FUNCTION_HEX=<HEX_ENCODED_WASM>
NEXT_PUBLIC_ENABLE_MOCK_OPTIONS=false

# Optional wallet integrations
XAMAN_API_KEY=<XAMAN_API_KEY>
